@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.date-input::-webkit-calendar-picker-indicator,
.time-input::-webkit-calendar-picker-indicator {
  filter: invert(70%);
  opacity: 0.7;
}

.date-input::-moz-calendar-picker-indicator,
.time-input::-moz-calendar-picker-indicator {
  filter: invert(70%);
  opacity: 0.7;
}

.date-input::-ms-clear,
.time-input::-ms-clear {
  display: none;
}
